@mixin btn-solid($color) {
  background: $color;
  border: none;
  &:hover {
    background: darken($color, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($color, 15%);
  }
}

@mixin btn-hollow($color) {
  background: white;
  border: solid 1px $color;
  color: $color;

  &:hover {
    background: $color;
    color: #fcf7f8;
    transition: all 0.3s ease;
  }

  &:active {
    background: darken($color, 8%);
    color: #fcf7f8;
  }
}

.btn {
  width: 130px;
  height: 40px;
  padding: 4px 12px;
  border-radius: 4px;
  color: #fcf7f8;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &__primary {
    @include btn-solid(#98d2eb);
  }

  &__secondary {
    @include btn-solid(#2a3a41);
  }

  &__ternary {
    @include btn-solid(#969aa1);
  }

  &__danger {
    @include btn-solid(#983939);
  }

  &__primary-hollow {
    @include btn-hollow(#98d2eb);
  }

  &__secondary-hollow {
    @include btn-hollow(#2a3a41);
  }

  &__ternary-hollow {
    @include btn-hollow(#969aa1);
  }

  &__danger-hollow {
    @include btn-hollow(#983939);
  }
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 100%;
    height: 60px;
  }
}
